.container{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: auto;
}

.logo-name, .nav-header {
    margin: 0;
}

.logo-name{
    font-size: 36px;
    padding: 20px 20px 20px 30px;
    color: crimson;
}

.nav-bar{
    border: 1px solid aliceblue;
    background-color: aliceblue;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.nav-header{
    list-style: none;
    display: flex;
    justify-content: space-around; 
    margin-left: 600px;
}

.nav-header li{
    display: inline;
}

.nav-header a {
    text-decoration: none;
    color: rgb(49, 203, 234);
    font-weight: bold;
    font-size: 18px; 
    padding: 8px 16px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.nav-header a:hover {
    background-color: #dddcdc;
}

.login{
    color: rgb(69, 0, 196);
    font-weight: bold;
    font-size: 24px;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid rgb(69, 0,196);
    margin-left: 20px;
    height: fit-content;
    background-color: white; 
}
.slider_container{
    display: flex;
}

.slider {
    position: relative;
    width: 100%;
}
  
  .image-with-text {
    position: relative;
  }
  
  .text-content {
    position: absolute;
    top: 90%;
    left: 80%;
    width: fit-content;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.921);
    padding: 10px;
    margin: 0;
  }

.left-arrow{
    width: 20px;
    height: 20px;
    padding: 350px 10px 0 10px;
}

.right-arrow{
    width: 20px;
    height: 20px;
    padding: 350px 10px 0 10px;
}

img{
    width: 100%;
    height: 80vh;
}

.footer{
    width: 100%;
    height: 30px;
}

.copyright{
    text-align: center;
}

.footer-links{
    list-style: none;
    display: flex;
    justify-content: space-around; 
    float: center;
}

.footer-links li{
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: rgb(20, 38, 41);
    font-size: 18px; 
    padding: 6px 16px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}
